:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text', system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --ink-black: #001524;
  --ink-black-l1: #263845;
  --ink-black-l2: #4d5b66;
  --ink-black-l3: #737e87;
  --ink-black-d1: #00121f;
  --ink-black-d2: #000f19;

  --stormy-teal: #15616d;
  --stormy-teal-l1: #387983;
  --stormy-teal-l2: #5b9099;
  --stormy-teal-l3: #7ea8af;
  --stormy-teal-d1: #12525d;
  --stormy-teal-d2: #0f444c;

  --papaya-whip: #ffecd1;
  --papaya-whip-l1: #ffefd8;
  --papaya-whip-l2: #fff2df;
  --papaya-whip-l3: #fff5e6;
  --papaya-whip-d1: #d9c9b2;
  --papaya-whip-d2: #b3a592;

  --harvest-orange: #ff7d00;
  --harvest-orange-l1: #ff9126;
  --harvest-orange-l2: #ffa44d;
  --harvest-orange-l3: #ffb873;
  --harvest-orange-d1: #d96a00;
  --harvest-orange-d2: #b35800;

  --brandy: #78290f;
  --brandy-l1: #8c4933;
  --brandy-l2: #a16957;
  --brandy-l3: #b5897b;
  --brandy-d1: #66230d;
  --brandy-d2: #541d0b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: radial-gradient(circle at top left, #262044 0, #050712 45%, #020308 100%);
}

#root {
  min-height: 100vh;
}

a {
  color: inherit;
}
